<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Clover Carte</title>
    <meta content="Chernyh Mihail" name="author">
    <meta content="Spedito - All in one place" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="http://order.clovercarte.com/assets/img/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="http://order.clovercarte.com/assets/css/uikit.min.css">
    <link rel="stylesheet" href="http://order.clovercarte.com/assets/css/main.css">
    <link id="dm-dark" rel="stylesheet" href="http://order.clovercarte.com/assets/css/dark.css" >
</head>
<body class="page-home dm-dark">
        <!-- Loader-->
        <!-- <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div> -->
        <!-- Loader end-->
    <div class="page-wrapper">
        <header class="page-header">
            <div class="page-header__top">
                <div class="uk-container">
                    <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar="">
                        <div class="uk-navbar-left">
                            <button class="uk-button" type="button" data-target="#offcanvas" data-uk-toggle data-uk-icon="menu"></button>
                            <ul class="uk-navbar-nav">
                                <li><a href="index.php">Home</a></li>
                            </ul>
                        </div>
                        <div class="uk-navbar-center">
                            <div class="logo">
                                <div class="logo__box"><a class="logo__link" href="index.html"> <img class="logo__img logo__img--full" src="http://order.clovercarte.com/assets/img/logo2.png" alt="logo"><img class="logo__img logo__img-small" src="assets/img/logo-small.png" alt="logo"></a></div>
                            </div>
                        </div>
                        <div class="uk-navbar-right">
                            <a class="uk-button" href="page-pizza-builder.html"> <span>Make Your Pizza</span><img class="uk-margin-small-left" src="http://order.clovercarte.com/assets/img/icons/pizza.png" alt="pizza"></a>
                            <ul class="uk-navbar-nav">
                                <li><a href="page-catalog.html">Our Menu</a></li>
                                <li><a href="page-blog.html">Make your Receipe</a></li>
                                <li><a href="page-catalogntacts.html">Contact us</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- <div class="page-header__bottom">
                <div class="uk-container">
                  <div class="uk-navbar-container uk-navbar-transparent" data-uk-navbar="">
                    <div class="uk-navbar-left">
                      <div>
                        <div class="block-with-phone">
                          <img src="assets/img/icons/delivery.svg" alt="delivery" data-uk-svg>
                          <div> <span>For Delivery, Call us</span><a href="tel:13205448749">1-320-544-8749</a></div>
                        </div>
                      </div>
                    </div>
                    <div class="uk-navbar-center"></div>
                    <div class="uk-navbar-right">
                      <div class="other-links">
                        <ul class="other-links-list">
                          <li><a href="#modal-full" data-uk-toggle><span data-uk-icon="search"></span></a></li>
                          <li><a href="#!"><span data-uk-icon="user"></span></a></li>
                          <li><a href="page-cart.html"><span data-uk-icon="cart"></span></a></li>
                        </ul>
                        <a class="uk-button" href="page-pizza-builder.html"> <span>Make Your Pizza</span><img class="uk-margin-small-left" src="assets/img/icons/pizza.png" alt="pizza"></a>
                      </div>
                    </div>
                  </div>
                </div>
                </div> -->
        </header>
        <main class="page-main">
            <div class="page-content">
            <div class="uk-margin-large-top uk-container">
                <div class="pizza-builder">
                    <div class="uk-grid" data-uk-grid>
                        <div class="uk-width-1-3@m uk-flex-first@m">
                            <div class="pizza-builder-order">
                                <div class="pizza-builder-order__title">Your Order</div>
                                <div class="pizza-builder-order__rows">
                                    <div class="pizza-builder-order__row pizza-builder-order__row-title"> <span>Product</span><span>Total</span></div>
                                    <div class="pizza-builder-order__row">
                                        <div class="pizza-builder-order__row-name">Masala Tea</div>
                                        <div class="pizza-builder-order__row-col">
                                            <span class="counter">
                                            <span class="minus">-</span>
                                            <input type="text" value="1" class="masala-tea-qty" />
                                            <span class="plus">+</span>
                                            </span>
                                        </div>
                                        <div class="pizza-builder-order__row-price">10 rs</div>
                                    </div>
                                    <div class="pizza-builder-order__row">
                                        <div class="pizza-builder-order__row-name">Ginger Tea</div>
                                        <div class="pizza-builder-order__row-col">
                                            <span class="counter">
                                            <span class="minus">-</span>
                                            <input type="text" value="1" class="ginger-tea-qty"/>
                                            <span class="plus">+</span>
                                            </span>
                                        </div>
                                        <div class="pizza-builder-order__row-price">10 rs</div>
                                    </div>
                                </div>
                                <div class="pizza-builder-order__total"><span>Order Total</span><span class="total-amt"> ₹20.00</span></div>
                                <div class="pizza-builder-order__btns">
                                    <button class="uk-button uk-width-1-1 cart-button" id="rzp-button1" total-amt = '20' type="button"><span style="color:#000;">Order Now</span><img class="uk-margin-small-left" src="http://order.clovercarte.com/assets/img/icons/menu/drinks.svg" alt=""></button>
                                    <!-- <button class="uk-button uk-button-default uk-width-1-1" type="button"><span>Add / Create another pizza</span></button></div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="page-footer__middle">
                <div class="uk-container">
                    <!--      <ul class="uk-navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="page-catalog-sidebar.html">Our Menu</a></li>
                        <li><a href="#">Offers</a></li>
                        <li><a href="page-404.html">404</a></li>
                        <li><a href="page-wishlist.html">Wishlist</a></li>
                        <li><a href="page-blog.html">News</a></li>
                        <li><a href="page-contacts.html">Contact</a></li>
                        </ul> -->
                </div>
            </div>
            <div class="page-footer__bottom">
                <div class="uk-container">
                    <div class="page-footer__social">
                        <ul class="social">
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="page-footer__copy">
                        <span>© Copyrights 2021 Clover Carte. All rights reserved.</span>
                        <ul class="list-footer">
                            <li><a href="http://clovercarte.com/about-us.php" title="title">About Us</a></li>
                            <li><a href="http://clovercarte.com/terms-and-conditions.php" title="title">Terms & Conditions</a></li>
                            <li><a href="http://clovercarte.com/privacy-policy.php" title="title">Privacy Policy</a></li>
                            <li><a href="http://clovercarte.com/refunds-and-cancellation.php" title="title">Refunds and cancellation policy </a></li>
                            <li><a href="http://clovercarte.com/shipping-policy.php" title="title"> Shipping policy</a></li>
                            <li><a href="http://clovercarte.com/contact-us.php" title="title">Contact us</a></li>
                        </ul>
                    </div>
                </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js" integrity="sha512-m2ssMAtdCEYGWXQ8hXVG4Q39uKYtbfaJL5QMTbhl2kc6vYyubrKHhr6aLLXW4ITeXSywQLn1AhsAaqrJl8Acfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="http://order.clovercarte.com/assets/js/jquery.min.js"></script>
    <script src="http://order.clovercarte.com/assets/js/uikit.min.js"></script>
    <script src="http://order.clovercarte.com/assets/js/uikit-icons.min.js"></script>
    <script src="http://order.clovercarte.com/assets/js/main.js"></script>
    <script src="http://order.clovercarte.com/assets/js/fontawesome.all.min.js"></script>

    <script type="text/javascript">
        // order total
        var masalaTeaPrice = '10';
        var gingerTeaPrice = '10';
        $('body').on('change', '.masala-tea-qty', function(){
          var masalaTeaOrder = $(this).val();
          var gingerTeaOrder = $('.ginger-tea-qty').val();
      
          var totalAmtMasalTea = parseInt(masalaTeaOrder) * 10 ;
          var totalAmtGingerTea = parseInt(gingerTeaOrder) * 10 ;
      
          masalaTeaPrice = totalAmtMasalTea;
          gingerTeaPrice = totalAmtGingerTea;
          var totalAmt = parseInt(totalAmtMasalTea) + parseInt(totalAmtGingerTea);
      
          totalAmt = '$ '+ totalAmt +'.00';
          $('.total-amt').text(totalAmt);
          $('.cart-button').attr('total-amt', (parseInt(totalAmtMasalTea) + parseInt(totalAmtGingerTea)));
      
      
        });
      
        $('body').on('change', '.ginger-tea-qty', function(){
            var masalaTeaOrder = $('.masala-tea-qty').val();
            var gingerTeaOrder = $(this).val();
      
            var totalAmtMasalTea = parseInt(masalaTeaOrder) * 10 ;
            var totalAmtGingerTea = parseInt(gingerTeaOrder) * 10 ;
      
            masalaTeaPrice = totalAmtMasalTea;
            gingerTeaPrice = totalAmtGingerTea;
            var totalAmt = parseInt(totalAmtMasalTea) + parseInt(totalAmtGingerTea);
      
            totalAmt = '$ '+ totalAmt +'.00';
            $('.total-amt').text(totalAmt);
            $('.cart-button').attr('total-amt', (parseInt(totalAmtMasalTea) + parseInt(totalAmtGingerTea)));
        });
          
        
      </script>
    <!-- razorpay lib -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        $('body').on('click', '.cart-button', function(e){
            /* var masalaTeaOrder = $('.masala-tea-qty').val();
            var gingerTeaOrder = $('.ginger-tea-qty').val(); */
            var totalAmt = $(this).attr('total-amt');

            var data = {
                masalaTea : {
                    name : 'Masala Tea',
                    masalaTeaQty : $('.masala-tea-qty').val(), 
                    masalaTeaPrice : masalaTeaPrice, 
                },
                gingerTea : {
                    name : 'Ginger Tea',
                    gingerTeaQty : $('.ginger-tea-qty').val(), 
                    gingerTeaPrice : gingerTeaPrice, 
                }
            }
            axios.post('/order',{totalAmt: totalAmt,data:data}).then((info) => {
                var options = {
                    "key": "rzp_test_yBcfP17iuVrwSY",
                    "name": "Clover Carte",
                    "description": "Order Payment",
                    "image": "http://order.clovercarte.com/assets/img/logo2.png",
                    "order_id": info.data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "callback_url": "/is-order-complete",/* 
                    "prefill": {
                        "name": "Gaurav Kumar",
                        "email": "gaurav.kumar@example.com",
                        "contact": "9999999999"
                    }, */
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };

                var rzp1 = new Razorpay(options);
                document.getElementById('rzp-button1').onclick = function(e){
                    rzp1.open();
                    e.preventDefault();
                }
            });
        });

    </script>
</body>
</html>